<template>
  <div class="theme-container no-sidebar" :class="pageClasses">

    <Navbar @toggle-sidebar="toggleSidebar"></Navbar>

    <div id="navbar-spacing"></div>

    <Sidebar :items="sidebarItems" @toggle-sidebar="toggleSidebar">
      <slot name="sidebar-top" slot="top"/>
    </Sidebar>

    <div class="container">
      <Breadcrumb></Breadcrumb>

      <div class="row" v-if="!$page.frontmatter.noContent">
        <div class="col s12">
          <ContentCard></ContentCard>
        </div>
      </div>

      <ProjectGroups></ProjectGroups>

      <div class="footer" v-if="footer" v-html="footer"></div>
    </div>

  </div>
</template>

<script>
  import Vue from "vue";
  import nprogress from "nprogress"
  import Navbar from "./default-theme/Navbar.vue"
  import Sidebar from "./default-theme/Sidebar.vue"
  import Breadcrumb from "./components/Breadcrumb"
  import ContentCard from "./components/ContentCard";
  import ProjectGroups from "./components/ProjectGroups";

  export default {
    components: {ProjectGroups, ContentCard, Breadcrumb, Navbar, Sidebar},
    data() { return {isSidebarOpen: false, sidebarItems: []}; },
    computed: {
      pageClasses() { return this.isSidebarOpen ? "sidebar-open" : "sidebar-closed"; },
      footer() { return this.$site.themeConfig.footer || this.$page.frontmatter.footer; }
    },
    methods: {
      toggleSidebar() { this.isSidebarOpen = !this.isSidebarOpen; },
    },

    created() {
      if (this.$ssrContext) {
        this.$ssrContext.title = this.$title;
        this.$ssrContext.lang = this.$lang;
        this.$ssrContext.description = this.$page.description || this.$description;
      }
    },

    mounted() {
      nprogress.configure({showSpinner: false});

      this.currentMetaTags = [];
      const updateMeta = () => {
        document.title = this.$title;
        document.documentElement.lang = this.$lang;
        const meta = [{name: "description", content: this.$description}].concat(this.$page.frontmatter.meta || []);
        this.currentMetaTags = updateMetaTags(meta, this.currentMetaTags);
      };
      this.$watch("$page", updateMeta);

      updateMeta();

      this.$router.beforeEach((to, from, next) => {
        if (to.path !== from.path && !Vue.component(to.name)) { nprogress.start(); }
        next();
      });

      this.$router.afterEach(() => {
        nprogress.done();
        this.isSidebarOpen = false;
      });
    },

    beforeDestroy() {
      updateMetaTags(null, this.currentMetaTags)
    },
  };

  function updateMetaTags(meta, current) {
    if (current) { current.forEach(c => document.head.removeChild(c)) }
    if (meta) {
      return meta.map(m => {
        const tag = document.createElement("meta");
        Object.keys(m).forEach(key => tag.setAttribute(key, m[key]));
        document.head.appendChild(tag);
        return tag;
      });
    }
  }
</script>

<style lang="stylus">@import "styles/main.styl"</style>
<style lang="scss">@import "styles/materialize-css.scss";</style>
<style src="prismjs/themes/prism-tomorrow.css"></style>
<style src="./default-theme/styles/theme.styl" lang="stylus"></style>

<style lang="stylus">
  .sidebar-button
    cursor pointer
    box-sizing initial
</style>

<style lang="stylus" scoped>
  .container
    min-width 400px
    max-width 1200px
    padding-top 1rem

  #navbar-spacing
    margin-top 3.6rem

  .footer
    margin 2.5rem
    text-align center
    color lighten(black, 40)
</style>
