<template>
  <div class="card">
    <div class="card-content" id="page">
      <img class="secondary-content" v-if="$page.frontmatter.icon" :src="$withBase($page.frontmatter.icon)"/>
      <h1 class="card-title" v-if="$page.frontmatter.title">
        <a href="#" aria-hidden="true" class="header-anchor">#</a>
        {{$page.frontmatter.title}}
      </h1>
      <Content/>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "ContentCard"
  };
</script>

<style lang="stylus" scoped>
  #page h1.card-title
    margin 0 0 1.68rem 0
    font-size 2.2rem
    font-weight 600
    white-space nowrap

  img
    max-width 50%
    background white
</style>
