<template>
  <router-link :to="page.path">
    <div v-if="meta.labels" class="secondary-content">
      <span class="badge" v-for="label in labels" :class="label.classes">{{label.title}}</span>
    </div>
    <span class="title">{{page.title}}</span>
    <p v-if="page.excerpt">{{page.excerpt}}</p>
    <div class="clearfix"></div>
  </router-link>
</template>

<script>
  export default {
    name: "ProjectItem",
    props: ["page", "meta"],
    computed: {
      labels() { return this.meta.labels.map((id) => this.$site.themeConfig.labels[id]); },
    },
  };
</script>

<style lang="stylus" scoped>
  .title
    font-weight bold
    font-size 1.1em
</style>
