<template>
  <div v-if="groups.length" class="row">
    <div class="col" v-for="projectGroup in groups" :class="projectGroup.classes || 's12'"
         :key="projectGroup.title">
      <div class="card">
        <div class="card-content">
          <h1 class="card-title">{{projectGroup.title}}</h1>
          <div class="collection">
            <ProjectItem v-for="page in projectGroup.pages" class="collection-item" :key="page.path" :page="page"
                         :meta="page.frontmatter"></ProjectItem>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ProjectItem from "./ProjectItem"

  export default {
    name: "ProjectGroups",
    components: {ProjectItem},
    computed: {
      groups() {
        const pages = this.$site.pages;
        const projectGroups = this.$site.themeConfig.projectGroups;
        return (this.$page.frontmatter.projectGroups || [])
          .map((name) => {
            if (typeof name === "string") { return projectGroups[name]; }
            return Object.assign({}, name, projectGroups[name.id]);
          })
          .map((group) => {
            group.pages = pages.filter((page) => page.frontmatter.project && page.path.startsWith(group.base));
            group.pages.sort(comparePages);
            return group;
          });
      },
    },
  };

  function comparePages(p0, p1) {
    const f0 = p0.frontmatter, f1 = p1.frontmatter;
    if (f0.sort != null) {
      if (f1.sort == null) { return -1; }
      return f0.sort - f1.sort;
    } else {
      if (f1.sort != null) { return 1; }
    }
    // both no sort
    if (f0.details.stalled) {
      if (!f1.details.stalled) { return 1; }
      return (+f1.details.stalled) - (+f0.details.stalled);
    } else {
      if (f1.details.stalled) { return -1; }
    }
    // both no stalled
    if (f0.details.birth) {
      if (!f1.details.birth) { return 1; }
      return (+f1.details.birth) - (+f0.details.birth);
    } else {
      if (f1.details.birth) { return -1; }
    }
    // both no birth
    return 0;
  }
</script>

<style lang="stylus" scoped>
  .card .card-content .card-title
    margin: 0 0 1em;
</style>
